.App {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  display: grid;
  margin: 0 auto 24px;
  grid-template-columns: 1fr 100px;

}

input {
  padding: 12px;
  font-size: 20px;
}

button {
  background: royalblue;
  border: 0;
  padding: 8px 24px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

table {
	border:1px solid #EEEEEE;
  margin: 0 auto;
    padding:0; 
    border-collapse: collapse;
}



.tr {
  padding: 12px;
  background: black;
  color: #ffff;
}

td {
  text-align: left;
  padding: 12px;
  border: 1px solid royalblue
}


.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
